.navbar{
    display: flex;
    padding: .2rem 1.5rem;

    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: auto;
    border-bottom: 1px solid var(--grey);
}
.heading{
    font-size: 2rem;
}
span{
    color: rgb(255, 0, 0);
}
.links{
      display: flex;
      gap: 1.5rem;
      /* justify-content: flex-start; */
      /* align-items: center; */
    
}
.link{
    color: var(--grey);
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s all;
}
.link:hover{
    background-color:#f2f2f2;
    color:#000 !important;
    border-radius:10px;
    border:0px solid #fff;
    transition:0.25s;
  }